nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
    background-color: orange;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: #ffa500;
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}